{% extends 'admin/base.html.twig' %}
{% block title %}User Details{% endblock %}

{% block admin_content %}
<div class="crud-container">
    <div class="crud-card">
        <h1 class="title">{{ user.firstName }} {{ user.lastName }}</h1>

        <p><strong>Email:</strong> {{ user.email }}</p>

        <!-- Booked Hotels section removed to fix Doctrine mapping issues -->
        
        <!-- Favorite Destinations section - checking if property exists -->
        {% if user.favoriteDestinations is defined %}
        <h2>Favorite Destinations</h2>
        <ul>
            {% for dest in user.favoriteDestinations %}
                <li>{{ dest.name }}</li>
            {% else %}
                <li>No favorite destinations.</li>
            {% endfor %}
        </ul>
        {% endif %}

        <a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn-edit">Edit</a>
        <a href="{{ path('admin_users_index') }}" class="btn btn-back">Back</a>
        {{ include('admin/users/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
