{% extends 'admin/base.html.twig' %}
{% block title %}User Details{% endblock %}

{% block admin_content %}
<div class="crud-container">
    <div class="crud-card">
        <h1 class="title">{{ user.firstName }} {{ user.lastName }}</h1>

        <p><strong>Email:</strong> {{ user.email }}</p>

        <h2>Booked Hotels</h2>
        <ul>
            {% for hotel in user.bookedHotels %}
                <li>{{ hotel.name }}</li>
            {% else %}
                <li>No booked hotels.</li>
            {% endfor %}
        </ul>

        <h2>Favorite Destinations</h2>
        <ul>
            {% for dest in user.favoriteDestinations %}
                <li>{{ dest.name }}</li>
            {% else %}
                <li>No favorite destinations.</li>
            {% endfor %}
        </ul>

        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-edit">Edit</a>
        <a href="{{ path('admin_user_index') }}" class="btn btn-back">Back</a>
        {{ include('admin/users/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
