<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Travel NegOr{% endblock %}</title>

    <link rel="icon" href="{{ asset('images/travelnegor.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Montserrat&display=swap" rel="stylesheet">

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
  </head>

  <body>
    <header>
      <nav class="navbar">
  <h1 class="brand">Travel NegOr</h1>
  <ul>
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('home') }}#about">About</a></li>
    <li><a href="{{ path('home') }}#destinations">Destinations</a></li>
  <li><a href="{{ path('home') }}#contact">Contact</a></li>
    {# {% if app.user %}
  {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
  {% endif %}
  <li class="nav-welcome">Welcome, {{ app.user.firstName|capitalize }} 👋</li>
  <li><a href="{{ path('app_logout') }}">Logout</a></li>
{% else %}
  <li><a href="{{ path('app_login') }}">Login</a></li>
{% endif %} #}

  </ul>
</nav>

    </header>

    <main>
      {% block body %}{% endblock %}
    </main>

    <footer>
      <p>© 2025 Travel NegOr — Connecting People to Authentic Adventures</p>
    </footer>

    {% block javascripts %}
      <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
